---
// el [id] del nombre de la pagina singifica que es el id de la playlist (dinamic)
//esta dentro de la carpeta playlist para que naveguemos a /playlist/[id]
import MusicsTable from "@/components/MusicsTable.astro";
import Layout from "../../layouts/Layout.astro";

import { allPlaylists, playlists, songs } from "@/lib/data";
import CardPlayButton from "@/components/CardPlayButton";


//nos traemos las playlist. Primero tenemos que saber cual estamos cargando, buscamos la playlist por id que sea la misma id que la ruta

//este const id se llama asi porque la pagina se llama [id]. La idea es capturar esta id
const { id } = Astro.params;
//const playlist lo que hace es traer la playlist por id que viene de la ruta. El find lo que hace es buscar en el array de playlist el id que viene de la ruta.
const playlist = allPlaylists.find((playlist) => playlist.id === id);

const playListSongs = songs.filter(
  (song) => song.albumId === playlist?.albumId
);
// const color = playlist?.color.accent;
// console.log(color)


const title = playlist?.title || "Unknown";
---
 <!-- colocamos el color de fondo del valor tomado de playlist.color.accent -->
<Layout title={` ${title} - playlist`}>
  <div
    id="playlist-container"
   
    class=`relative flex flex-col overflow-x-hidden`
    transition:name=`playlist ${id} box`
  >
    <!-- PageHeader (componente de svelte) -->
    <header class="flex flex-row  gap-8 px-6 mt-12  ">
        <picture class="aspect-square w-52 h-52  flex-none ">
            
            <img src={playlist?.cover} alt={`Cover for ${playlist?.title}`} class="w-full h-full object-cover shadow-lg rounded-md" transition:name=`playlist ${playlist?.id} image` />   
        </picture>
        <div class="flex flex-col justify-between">
            <h2 class="flex flex-1 items-end">Playlist</h2>
            <div>
                <h1 class="title-clamp text-7xl mt-2 text-white font-extrabold block">
                    {playlist?.title}
                <span transition:name=`playlist ${playlist?.id} title`></span>
            </h1>
            </div>

            <div class="flex-1 flex items-end">
                <div class="text-sm text-gray-300 font-normal">
                    <div transition:name=`playlist ${playlist?.id} artists`>
                        <span>
                            {playlist?.artists.join(", ")}
                        </span>
                    </div>
                    <p class="mt-2 flex gap-2">
                        <span class="text-white">
                           <!-- ponemos el numero total de songs en la playlist mas la palabra canciones si es mas de una y cancion si es una sola -->
                            {playListSongs.length} {playListSongs.length > 1 ? "canciones" : "cancion"},
                        </span>
                        <span>
                        20min aprox
                             

                        </span>
                    </p>
                </div>
            </div>
            
        </div>
        
    </header>
    <div class="pl-6 pt-4">
        
        <CardPlayButton id={id} client:load/>
    </div>
    <div class="relative z-10 px-6 pt-10"></div>

    <div
      class="absolute -z-[1] inset-0 bg-gradient-to-t from-base-color via-base-color/80 min-h-full w-full"
    >

</div>

<section class="p-6">
    <MusicsTable songs={playListSongs} />
</section>
    
  </div>
</Layout>
